@use '../variables.module' as *;


.inputText {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .header {
        display: flex;
        align-items: center;
        gap: 5px;

        .isRequired {
            color: $Error500;
        }

        label {
            font-size: $fntbase;
        }
    }


    .body {
        width: 100%;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid $Neutral200;
        border-radius: 5px;

        input {
            width: 100%;
            height: 45px;
            padding: 0 10px;
            border-radius: 3px;
            border: none;
            font-size: $fnttiny;
            outline: none;
        }

        svg {
            stroke-width: 1.5px;
        }
    }

    .errorBody {
        width: 100%;
        padding: 5px;

        .error {
            font-size: $fntbase;
            color: $Error500;
        }
    }

}

.inputPassword {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .core {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .isRequired {
            color: $Error500;
        }

        label {
            font-size: $fntbase;
        }

        .fp {}
    }

    .body {
        width: 100%;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid $Neutral200;
        border-radius: 5px;

        input {
            width: 100%;
            height: 45px;
            padding: 10px;
            border-radius: 3px;
            border: none;
            font-size: $fnttiny;
            outline: none;
        }

        .passwordwlink {
            display: flex;
            align-items: center;
        }

        svg {
            stroke-width: 1.5px;
        }

        button {
            width: 50px;
            height: 40px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border-left: 1px solid $Neutral200
        }
    }

    .errorBody {
        width: 100%;
        padding: 5px;

        .error {
            font-size: $fntbase;
            color: $Error500;
        }
    }
}

.inputTags {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .core {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .isRequired {
            color: $Error500;
        }

        label {
            font-size: $fntbase;
        }

        .fp {}
    }

    .tags {
        width: 100%;
        display: flex;
        padding: 5px;
        border-radius: 5px;
        gap: 5px;

        .tag {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            background-color: $Neutral200;
            padding: 10px;
            border-radius: 5px;

            span {
                font-size: $fnttiny;
            }

            button {
                width: 25px;
                height: 25px;
                background-color: transparent;
                border-radius: 100px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: $Neutral400;
                }
            }
        }
    }

    .body {
        width: 100%;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid $Neutral200;
        border-radius: 5px;

        input {
            width: 100%;
            height: 45px;
            padding: 10px;
            border-radius: 3px;
            border: none;
            font-size: $fnttiny;
            outline: none;
        }
    }

    .errorBody {
        width: 100%;
        padding: 5px;

        .error {
            font-size: $fntbase;
            color: $Error500;
        }
    }
}



.inputCalendar {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    .header {
        display: flex;
        align-items: center;
        gap: 5px;

        .isRequired {
            color: $Error500;
        }

        label {
            font-size: $fntbase;
        }
    }

    .body {
        width: 100%;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid $Neutral200;
        border-radius: 5px;

        input {
            width: 100%;
            height: 45px;
            padding: 10px;
            border-radius: 3px;
            border: none;
            font-size: $fnttiny;
            outline: none;
        }

        button {
            border-radius: 100px;
            height: 35px;
            width: 35px;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }

    .errorBody {
        width: 100%;
        padding: 5px;

        .error {
            font-size: $fntbase;
            color: $Error500;
        }
    }
}